name: build-solution

on:
  workflow_call:
    inputs:
      solution_name:
        required: true
        type: string

jobs:
  build-solution:
    runs-on: ubuntu-latest

    env:
      solution_pack_folder: solution-pack-temp
      build_number: 1.0.${{ github.run_number }}

    steps:
      - uses: actions/checkout@v2

      - name: Create tag
        uses: actions/github-script@v3
        if: github.ref == 'refs/heads/main'
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ inputs.solution_name }}-${{ env.build_number }}",
              sha: context.sha
            })

      - name : update solution version number
        shell: pwsh
        run: |
          Get-ChildItem -Path "src/${{ inputs.solution_name }}/SolutionPackage/Other/Solution.xml" | 
          ForEach-Object {
                (Get-Content $_.FullName) `
                    -replace '<Version>[\s\S]*?<\/Version>', '<Version>${{ env.build_number }}</Version>' |
                Out-File $_.FullName
          }

      - name: pack solution
        uses: microsoft/powerplatform-actions/pack-solution@0.4.3
        with:
          solution-folder: src/${{ inputs.solution_name }}/SolutionPackage
          solution-file: ${{ runner.temp }}/${{ env.solution_pack_folder }}/${{ inputs.solution_name }}.zip
          solution-type: Managed
      
      - uses: actions/upload-artifact@v2
        with:
          name: ${{ inputs.solution_name }}
          path: ${{ runner.temp }}/${{ env.solution_pack_folder }}/${{ inputs.solution_name }}.zip
      
      