name: build-deploy-solution
# TODO: Makes sure this gets associated with the PR

on:
  workflow_dispatch:
    inputs:
      ref:
        required: true
        description: "ref to build from"
      solution_name:
        required: true
        description: "solution to build"
      solution_version_major_minor:
        required: true
        description: "version major.minor of solution to build"
      environment:
        required: true
        description: "environment where the build will be deployed"

jobs:
  build-solution:
    name: build solution
    uses: devkeydet/pva-alm/.github/workflows/zz-r-build-solution.yml@main
    with:
      ref: ${{ github.event.inputs.ref }}
      solution_name: ${{ github.event.inputs.solution_name }}
      solution_version_major_minor: "${{ github.event.inputs.solution_version_major_minor }}"

  deploy-solution:
    name: deploy solution to ${{ github.event.inputs.environment }} environment
    uses: devkeydet/pva-alm/.github/workflows/zz-r-deploy-solution.yml@main
    needs: build-solution
    with:
      solution_name: ${{ github.event.inputs.solution_name }}
      environment: ${{ github.event.inputs.environment }}
    secrets:
      environment_url: ${{ secrets.ENVIRONMENT_URL }}
      tenant_id: ${{ secrets.TENANT_ID }}
      client_id: ${{ secrets.CLIENT_ID }}
      client_secret: ${{ secrets.CLIENT_SECRET }}
      secrets: ${{ toJSON(secrets) }}

  turn-on-flows:
    runs-on: windows-latest
    needs: deploy-solution
    environment: ${{ github.event.inputs.environment }}
    steps:
      - uses: actions/checkout@v2
      - id: turn-on-flows-impersonation
        uses: ./.github/actions/turn-on-flows-impersonation
        with:
          environment-url: ${{ secrets.inputs.environment_url }}
          tenant_id: ${{ secrets.TENANT_ID }}
          app_id: ${{ secrets.CLIENT_ID }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          deployment_settings_file: src/${{ github.event.inputs.solution_name }}/deploymentSettings.json
          secrets: ${{ toJSON(secrets) }}
