name: delete-and-import-unmanaged-solution

on:
  workflow_dispatch:
    inputs:
      solution_name:
        description: "name of the Solution in Dataverse environment"
        required: true
        default: yoursolutionname
      environment_url:
        description: "http endpoint of your Dataverse environment"
        required: true
        default: "https://[your-env].crm[x].dynamics.com"
      ref:
        description: "the ref (branch, commit, tag) you want to import"
        required: true
        default: "main"

jobs:
  get-subdomain:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - id: get-subdomain
        uses: ./.github/actions/get-subdomain
        with:
          url: ${{ github.event.inputs.environment_url }}
    outputs:
      subdomain: ${{ steps.get-subdomain.outputs.subdomain }}

  delete-unmanaged-solution-and-components-from-environment:
    uses: devkeydet/pva-alm/.github/workflows/zz-r-delete-unmanaged-solution-and-components-from-environment.yml@main
    with:
      solution_name: ${{ github.event.inputs.solution_name }}
      environment_url: ${{ github.event.inputs.environment_url }}
    secrets:
      tenant_id: ${{ secrets.TENANT_ID }}
      client_id: ${{ secrets.CLIENT_ID }}
      client_secret: ${{ secrets.CLIENT_SECRET }}

  build-solution:
    uses: devkeydet/pva-alm/.github/workflows/zz-r-build-solution.yml@main
    needs: delete-unmanaged-solution-and-components-from-environment
    with:
      ref: ${{ github.event.inputs.ref }}
      solution_name: ${{ github.event.inputs.solution_name }}
      solution_version_major_minor: "0.0"
      dev_build: true  

  deploy-solution:
    uses: devkeydet/pva-alm/.github/workflows/zz-r-deploy-solution.yml@main
    needs: [build-solution,get-subdomain]
    with:
      solution_name: ${{ github.event.inputs.solution_name }}
      environment: ${{ needs.get-subdomain.outputs.subdomain }}
      unmanaged: true
    secrets:
      environment_url: ${{ github.event.inputs.environment_url }}
      tenant_id: ${{ secrets.TENANT_ID }}
      client_id: ${{ secrets.CLIENT_ID }}
      client_secret: ${{ secrets.CLIENT_SECRET }}
      secrets: ${{ toJSON(secrets) }}
  
  turn-on-flows:
    runs-on: windows-latest
    needs: [deploy-solution, get-subdomain]
    environment: ${{ needs.get-subdomain.outputs.subdomain }}
    steps:
      - uses: actions/checkout@v2
      - id: turn-on-flows-impersonation
        uses: ./.github/actions/turn-on-flows-impersonation
        with:
          environment_url: ${{ github.event.inputs.environment_url }}
          tenant_id: ${{ secrets.TENANT_ID }}
          app_id: ${{ secrets.CLIENT_ID }}
          client_secret: ${{ secrets.CLIENT_SECRET }}
          deployment_settings_file: src/${{ github.event.inputs.solution_name }}/deploymentSettings.json
          secrets: ${{ toJSON(secrets) }}

