name: pvaalm-build-deploy

on:
  pull_request:
    branches:
      - main
    paths:
      - src/pvaalm/**
  push:
    branches:
      - main
    paths:
      - src/pvaalm/**

env:
  solution_name: pvaalm
  environmenturl: temp

jobs:
  set-github-environment: # determine if the build should go to the PR or UAT environment
    runs-on: ubuntu-latest
    
    steps: 
      - name: uat env var
        if: github.ref == 'refs/heads/main'
        run: |
          echo "environment=uat" >> $GITHUB_ENV
      - name: pr env var
        if: github.ref != 'refs/heads/main'
        run: |
          echo "environment=pr" >> $GITHUB_ENV
      - id: setOuput
        run: |
          echo "::set-output name=env::${{ env.environment }}"

    outputs:
      environment: ${{ steps.setOuput.outputs.env }}

  build-solution:
    uses: devkeydet/pva-alm/.github/workflows/build-solution.yml@main
    needs: set-github-environment
    with:
      solution_name: pvaalm # Using env.solution_name was causing the workflow to be invalid. Need to investigate.
  
  deploy-solution:
    uses: devkeydet/pva-alm/.github/workflows/deploy-solution.yml@main
    needs: build-solution
    with:
      solution_name: pvaalm # Using env.solution_name was causing the workflow to be invalid. Need to investigate.
      environment: ${{ needs.set-github-environment.outputs.environment }}
    secrets:      
      environment_url: ${{ secrets.ENVIRONMENT_URL }}
      tenant_id: ${{ secrets.TENANT_ID }}
      client_id: ${{ secrets.CLIENT_ID }}
      client_secret: ${{ secrets.CLIENT_SECRET }}
