name: get-pac-path

on:
  workflow_dispatch:

jobs:
  get-pac-path:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - id: get-pac-path
        uses: ./.github/actions/get-pac-path
      - run: echo "${{ steps.get-pac-path.outputs.path }}"
      - shell: pwsh
        run: |
          $env:PATH
          $env:PATH = $env:PATH + ";" + "${{ steps.get-pac-path.outputs.path }}"
          $env:PATH
          & "${{ steps.get-pac-path.outputs.path }}\pac.exe"