name: get-pac-path

on:
  workflow_dispatch:

jobs:
  get-pac-path:
    runs-on: windows-latest
    environment: pr

    steps:
      - uses: actions/checkout@v2

      - name: call whoami-action
        uses: microsoft/powerplatform-actions/who-am-i@v0
        with:
          environment-url: ${{ secrets.ENVIRONMENT_URL }}
          tenant-id: ${{ secrets.TENANT_ID }}
          app-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}

      - id: get-pac-path
        uses: ./.github/actions/get-pac-path

      - shell: pwsh
        run: |
          $env:PATH
          $env:PATH = $env:PATH + ";${{ steps.get-pac-path.outputs.path }}"
          pac