name: temp-download-pac

on:
  workflow_dispatch:
    inputs:
      pac_version:
        description: "version of power platform cli to install"
        required: false

jobs:
  install-pac:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/download-pac