name: temp-jq-test

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      # TEMPORARY until platform/tools support formatted json files on unpack we
      # update the Power Automate json files to be pretty-print / formatted so they are easier to read in source control.
      # This also makes it easier to read changes from one commit to another
      - name: format json files
        shell: pwsh
        run: |
          Get-ChildItem -Path "src/pvaalm/SolutionPackage/Workflows" -Recurse -Filter *.json | 
          ForEach-Object {
            Write-Host $_.FullName
            $formatted = jq . $_.FullName --sort-keys
            $formatted | Out-File $_.FullName -Encoding UTF8
          }