name: test
on:        
  workflow_dispatch:
          
jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      
      # - name: modify and push
      #   shell: pwsh
      #   run: |
      #     New-Item "./src/pvaalm/build-deploy-trigger.txt" -ItemType File -Value $env:GITHUB_RUN_ID -Force

      #     git config --global user.name ${{ github.actor }}   
      #     git add --all
      #     git commit -am "trigger build-deploy-solution"
      #     git push

      - name: who-am-i
        uses: microsoft/powerplatform-actions/who-am-i@v0
        with:
          environment-url: "https://marcsc-alm-demo-prod.crm.dynamics.com"
          tenant-id: ${{ secrets.TENANT_ID }}
          app-id: ${{ secrets.CLIENT_ID }}
          client-secret: ${{ secrets.CLIENT_SECRET }}
      
      - name: set-pac-path
        uses: ./.github/actions/set-pac-path
      
      - name: test-pac
        shell: pwsh
        run: |
          echo $env:GITHUB_PATH
          pac