name: test
on:        
  workflow_dispatch:
          
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: modify and push
        shell: pwsh
        run: |
          New-Item "./src/pvaalm/build-deploy-trigger.txt" -ItemType File -Value $env:GITHUB_RUN_ID -Force
          git config --global user.name ${{ github.actor }}   
          git add --all
          git commit -am "trigger build-deploy-solution"
          git push