name: update-check # test

on:
  workflow_dispatch:
    inputs:
      sha:
        description: "sha"
        required: true
jobs:
  checks-test:
    runs-on: ubuntu-latest
    steps:
      - name: gh-script
        id: gh-script
        uses: actions/github-script@v5
        with:
          result-encoding: string
          script: |
            console.log(context.job)
            # var checkResult = await github.rest.repos.createCommitStatus({
            #   owner: context.repo.owner,
            #   repo: context.repo.repo,
            #   sha: "${{ github.event.inputs.sha}}",
            #   context: "test-two",
            #   state: context.job.status
            # })
 